.bookings-container {
  width: 85%;
  margin: auto;
  text-align: center;
}

.each-booking-container {
  border-radius: 10px;
  border: 20px;
  background-color: #6EBF8B;
  color: black;
  text-align: center;
  padding: 10px;
}


.each-booking-container h5 {
  color: black;
}
