.lesson_show_container {
  display: flex;
  flex-direction: column;
}

.special_button_green {
  text-align: center;
  background-color: #FFD66D;
  border-radius: 10px;
  text-decoration: none;
  color: #6EBF8B;
  padding: 10px;
  margin: 10px;
  margin: auto;
  border: none !important;;
}
