.container-reviews {
  width: 85%;
  margin: auto;
}

.reviews-container p {
  font-size: 40px;
}

input[type=checkbox]+i {
  height: 100px;
  text-align: center;
}

.review-form .form-control {
  font-size: 14px;
  height: 170px;
}

.first_button_green_move_down {
  text-align: center;
  background-color: #6EBF8B;
  border-radius: 10px;
  text-decoration: none;
  color: #FFD66D;
  padding: 10px;
  margin: 10px;
  margin: auto;
  border: none !important;
}
