.container-reviews {
  width: 85%;
  margin: auto;
}

.reviews-container p {
  font-size: 40px;
}

input[type=checkbox]+i {
  height: 100px;
  text-align: center;
}

.review-form .form-control {
  font-size: 14px;
  height: 170px;
}
