.text-decoration-none {
  color: #6EBF8B;
}

.list_links_course_subtopics h3 {
  margin: 20px;
  font-weight: bold;
}

.list_links_course_subtopics {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button_list_grey {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  text-align: left;
}

.button_list_grey .icon_green {
  margin: 5px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button_list_grey a {
  text-align: right;
}

.list-beautiful {
  border-color: #FFD66D;
  border-style: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 25px;
}

.show_courses_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-header {
  background-color: #6EBF8B;
  border-color: #6EBF8B;
  border-style: solid;
  border-width: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 25px;
}

.list-subtle {
  border-color: #6EBF8B;
  background-color: white;
  color: #6EBF8B;
  border-style: solid;
  border-width: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 25px;
}

.container_course_show_alignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.container_course_show_alignment .card-img {
  justify-content: center;
}
