.text-decoration-none {
  color: #6EBF8B;
}

.list_links_course_subtopics h3 {
  margin: 20px;
  font-weight: bold;
}

.list_links_course_subtopics {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button_list_grey {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  text-align: left;
}

.button_list_grey .icon_green {
  margin: 5px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button_list_grey a {
  text-align: right;
}
