.container_add_subtopic {
padding: 10px;
display: flex;
flex-direction: column;
margin: auto;
margin-top: 40px;
}

.container_subtopic_show {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.container_subtopic_show a {
  text-align: right;
}

.subtopic_icon_arrange {
  display: flex;
  flex-direction: row;
}

.each-booking-container h2 {
font-size: 25px;
text-decoration: bold;
margin: auto;
}

.each-booking-container h3 {
  font-size: 22px;
  text-decoration: bold;
  margin: auto;
  }


.each-booking-container a {
color: white !important;
  }

.icon_green {
  background-color:#FFD66D;
  text-decoration: none;
  fill: #6EBF8B;
  padding: 10px;
  border-radius: 30%;
  height: 40px;
  margin: 5px;
}

.icon_green_delete {
  background-color:#FFD66D;
  text-decoration: none;
  fill: #6EBF8B;
  padding: 10px;
  border-radius: 30%;
  height: 40px;
  margin: 5px;
}
