.container_add_subtopic {
padding: 10px;
display: flex;
flex-direction: column;
margin: auto;
margin-top: 40px;
}

.container_subtopic_show {
  display: flex;
  flex-direction: column;
  margin-left: 10px;;
}

.each-booking-container h2 {
font-size: 20px;
text-decoration: solid;
}
