<div class="bookings-container">
  <% if current_user.user_type == "student" %>
    <%= render 'student-bookings'  %>
  <% elsif current_user.user_type == "teacher" %>
    <%= render 'teacher-bookings' %>
  <% end %>
  <br>
  <%= link_to "See all courses", courses_path, class: "button_green_move_down" %>
  <br>
  <br>
  <%= link_to "#{@type.capitalize} profiles", user_index_path(query: @type), class: "button_green_move_down" %>
  <br>
  <br>
</div>
