<div class="container_add_subtopic">
  <%= simple_form_for [ @course, @subtopic ] do |f| %>
    <strong><%= f.input :description %></strong>
    <%= f.submit "Add subtopic", class: "button_yellow" %>
  <% end %>
  <%= link_to "Back to course", course_path(@course), class: "button_green" %>
</div>
