.button_green {
  background-color: #6EBF8B;
  border-radius: 40px;
  text-decoration: none;
  color: #FFD66D;
  padding: 10px;
  margin: 10px;
  margin-left: 110px;
}


.button_yellow {
  background-color:#FFD66D ;
  border-radius: 40px;
  text-decoration: none;
  color:  #6EBF8B;
  padding: 10px;
  margin: 10px;
  margin-left: 110px;
}

.button_list_grey {
  border-radius: 40px;
  text-decoration: none;
  font-size: 16;
  color: #6EBF8B;
}
