.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.each-chatroom-container {
  border-radius: 10px;
  border: 20px;
  background-color: #6EBF8B;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.second_button_yellow_move_down {
  text-align: left;
  background-color: #FFD66D;
  border-radius: 10px;
  text-decoration: none;
  color: #6EBF8B;
  padding: 10px;
  margin: 10px;
  margin: auto;
  border: none !important;
}

.third_button_yellow_move_down {
  text-align: left;
  background-color: #FFD66D;
  border-radius: 10px;
  text-decoration: none;
  color: #6EBF8B;
  padding: 10px;
  margin: 10px;
  margin: auto;
  border: none !important;
}

.each-chatroom-container .icon_green_back {
  background-color: #FFD66D;
  fill: $base-green;
}

.chatroom_links {
  display: flex;
  flex-direction: row;
}
