// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "top-banner";
@import "chatroom";

.button-search {
  background-color: transparent;
  border: none;
  transform: translate(0px, -26px);
  font-size: 15px;
  border-radius: 40px;
}

.button-search:hover {
  background-color: lightgrey;
}


.form-control {
  background-color: white;
  font-size: 10px;
  padding-left: 25px;
  border-radius: 40px;
}

.search-container {
  border-radius: 40px;
  background: #FFD66D;
  padding: 20px;
  width: 350px;
  height: 120px;
  margin: 20px;
}

.search-container h1{
  font-size: 21px;
  color: #6EBF8B;
  font-weight: bold;
}


.container_index_links {
  display: flex;
  align-items: center;
}

.simple_form {
  display: flex;
  flex-direction: column;
}
