
.top-banner {
  background-size: cover;
  background-position: center;
  height: 70px;
  display: flex;
  justify-content: space-around;
  padding: 0 16px;
  align-items: center;
  color: #6EBF8B;
  background-color: #FFD66D;
  font-size: 24px;
  font-style: bold;
}

.btn-sign-up {
  text-decoration: none;
  font-size: 16px;
  color: $base-yellow;
  font-weight: 700;
  border: 1px solid $base-green;
  padding: 4px 8px;
  border-radius: 10px;
  background: $base-green;
}
