
.top-banner {
  background-size: cover;
  background-position: center;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  color: $base-green;
  background-color: #FFD66D;
  font-size: 24px;
  font-style: bold;
}

.btn-sign-up {
  text-decoration: none;
  font-size: 16px;
  color: $base-yellow;
  font-weight: 700;
  border: 1px solid $base-green;
  padding: 4px 8px;
  border-radius: 10px;
  background: $base-green;
}

.login_icon {
  background-color: $base-green;
  text-decoration: none;
  fill: #FFD66D;
  padding: 5px;
  border-radius: 30%;
  height: 30px;
  padding-right: 10px;
}

.container_user_login_home {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  ;
}

.top-banner h6 {
  font-size: 10px;
  text-align: center;
}
