// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/general";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/card";
@import "components/button";
@import "pages/show";
@import "pages/login";
@import "pages/signup";
@import "pages/subtopics";
@import "pages/lesson";

.general-button {
  background-color:#6EBF8B;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: black;
  height: 40px;
  width: 170px;
  max-width: 200px;
}

.submit-button {
  background-color:#6EBF8B;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: black;
  justify-content: center;
  height: 40px;
  width: 170px;
  border: none !important;
}

.moving-cap {
  // transform: translate(50px, 0px);
  font-size: 25px;
}

a {
  text-decoration: none;
}
